<!-- feature image 5-->
<div
  class="hidden lg:visible lg:flex justify-center w-screen h-screen py-4 my-auto rounded-3xl mx-auto"
 style="height: 79vh;">
  <div
    class="flex justify-center w-screen h-screen"
    style="
      background-image: url('assets/stera_sleekest.svg');
      background-size: 100%;
      background-repeat: no-repeat;
      height: 100vh;
    "
  >
    <div class="w-2/5"></div>
    <div class="w-3/5 flex flex-col mt-20 ml-52">
      <div class="text-2xl font-bold">The Sleekest Design in Business.</div>
      <div class="text-black justify-start text-sm mt-3">
        <div>The thing about armours and shields is that they are meant to</div>
        <div>
          protect us, they aren't always great to look at. History is vouch for
        </div>
        <div>that. But Stera doesn't adhere to convention. Because we know</div>
        <div>looks matter.</div>
        <div class="mt-3 font-semibold">
          <div>
            Be it in your living room or your kitchen, your office space or
          </div>
          <div>reception, Stera will only add to your surroundings.</div>
        </div>
        <div class="mt-3">
          <div>
            It is compact and will fit-in anywhere. Stera is not only built
          </div>
          <div>
            with superior technology, it is also made to complement your
          </div>
          <div>home and space.It is sleek and has appealing product design</div>
          <div>
            - so you can proudly show off your shield, your line of defense.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="lg:hidden flex flex-col justify-start items-center h-screen w-screen"
>
  <div>
    <img
      src="assets/stera_sleekest_sm.svg"
      class="h-full w-full"
      alt="stera product image"
    />
  </div>
  <div class="font-bold flex flex-col w-screen items-center my-10 px-10">
    The Sleekest Design in Business.
  </div>
  <div class="px-10">
    <div class=" mt-6">
      The thing about shields and armor is that while they are meant to protect
      us, they aren't always great to look at. History is vouch for that. But
      Stera doesn't adhere to convention. Because we know that looks matter.
    </div>
    <div class="my-6 font-semibold">
      Be it your living room or kitchen, your office space or reception, Stera
      will only add to your surroundings.
    </div>
    <div>
      It is compact and will fit and fit-in any where. Stera is not only built
      with superior technology, it is also made to compliment your home and
      space. It is sleek and has an appealing product design - so you can
      proudly show off the shield, your line of defense.
    </div>
  </div>
</div>
