<!-- feature image 6-->
<div class="hidden lg:visible lg:block h-screen w-screen">
<div class="grid grid-cols-3 gap-3 px-32 mx-auto">
    <div class="h-5/6 w-full bg-gray-100">
      <img
        src="assets/cups.svg"
        alt="stera product image with cups"
        class="mt-10"
      />
    </div>
    <div class="h-5/6 w-full bg-black">
      <img
        src="assets/grill.svg"
        alt="stera product image with grill"
        class="h-11/12 pb-10 -mt-8 mx-auto"
      />
    </div>
    <div class="h-5/6 w-full bg-gray-100">
      <img
        src="assets/cups.svg"
        alt="stera product image with fruits"
        class="mt-10"
      />
    </div>
  </div>
  
  <!-- feature text 6-->
<div class="grid grid-cols-3 gap-3 px-32 mx-auto -mt-12 h-64">
    <div class="w-full bg-black p-4">
      <div>
        <div class="text-blue-400 mb-2">Adjustable Shelves</div>
        <div class="text-gray-400 text-xs" style="color: #a9a9a9;">
          <div>
            Making rooms for your needs in one of our main motivations. Stera
          </div>
          <div>
            comes with adjustable shelves that you can adjust. A water-bottle
          </div>
          <div>needs more room than a notebook. A notebook needs more room</div>
          <div>that a mobile phone. A mobile phone needs more room that car</div>
          <div>keys. Car keys need more room..you get the gist</div>
  
          <div class="mt-2">
            <div>
              It would serve no purpose if you would'nt disinfect different sized
            </div>
            <div>
              objects. Here at Stera, versatality is a synonym. Make need-based
            </div>
            <div>
              adjustment with our adjustable shelves that can be used to fit
            </div>
            <div>
              objects of various sizes ensuring well distributed and effecient
            </div>
            <div>disinfection.</div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="w-full bg-black p-4">
      <div>
        <div class="text-blue-400 mb-2">In Built - Induction Night Light</div>
        <div class="text-gray-400 text-xs" style="color: #a9a9a9;">
          <div>Hassle free sterilization at night with the inbuilt</div>
          <div>Induction Night Light. The light will turn on when</div>
          <div>the door is opened, convenient to pick and place,</div>
          <div>with no need to sterilize in the dark. Take care of</div>
          <div>every disinfection moment with Stera UVC Disinfection</div>
          <div>Sheild</div>
        </div>
      </div>
    </div>
    <div class="w-full bg-black p-4">
      <div>
        <div class="text-blue-400 mb-2">360 degree Surface Disinfection</div>
        <div class="text-gray-400 text-xs" style="color: #a9a9a9;">
          <div>Stera UVC Disinfection Sheild box uses UVC lamps</div>
          <div>& strategically positioned reflectors that emit and</div>
          <div>reflect UVC radiation to kill all the viruses and pathogens</div>
          <div>that may have inadvertently attached itself to these</div>
          <div>objects. There is essentially zero penetration of UV light</div>
          <div>into any solid material.</div>
        </div>
      </div>
    </div>
  </div>

</div>
  

<div
  class="lg:hidden flex flex-col justify-start h-full w-screen p-6 mt-10"
>
  <div class="h-2/6 bg-gray-200">
    <img
      src="assets/cups.svg"
      class="h-full w-full"
      alt="stera product image"
    />
  </div>
  <div class="flex flex-col w-full content-evenly p-6 bg-black h-4/6">
    <div class="text-md font-semibold text-blue-500 h-1/6">Adjustable Shelves</div>
    <div class="text-md text-gray-400 h-3/6">Making room for your needs is one of our main motivations. Stera comes with adjustable shelves that you can adjust. A water-bottle needs more room than a notebook. A note book needs more room than a mobile phone. A mobile phone needs more room than car keys. Car keys need more room … you get the gist!</div>
    <div class="text-md text-gray-400 h-2/6">It would serve no purpose if you couldn't disinfect different sized objects. Here at Stera, versatility is a synonym.</div>
  </div>
</div>

<div
  class="lg:hidden flex flex-col justify-start h-full w-screen p-6 -mt-10"
>
  <div class="h-2/6 bg-gray-200">
    <img
      src="assets/grill.svg"
      class="h-full w-full"
      alt="stera product image"
    />
  </div>
  <div class="flex flex-col w-full content-evenly p-6 bg-black h-2/6">
    <div class="text-md font-semibold text-blue-500 h-1/6">In Built - Induction Night Light</div>
    <div class="text-md text-gray-400">Hassle-free sterilization at night with the inbuilt Induction Night Light. The light will turn on when the door is opened, convenient to pick and place, with no need to sterilize in the dark. Take care of every disinfection moment with Stera UVC Disinfection Shield</div>
 </div>
</div>

<div
  class="lg:hidden flex flex-col justify-start h-full w-screen p-6 -mt-10"
>
  <div class="h-2/6 bg-gray-200">
    <img
      src="assets/cups.svg"
      class="h-full w-full"
      alt="stera product image"
    />
  </div>
  <div class="flex flex-col w-full content-evenly p-6 bg-black h-2/6">
    <div class="text-md font-semibold text-blue-500 h-1/6">360 Degree Surface Disinfection</div>
    <div class="text-md text-gray-400">Stera UVC Disinfection Shield box uses UVC lamps & strategically positioned reflectors that emit and reflect UVC radiation to kill all viruses and pathogens that may have   inadvertently attached itself to these objects. There is essentially zero penetration of UV light into any solid material.</div>
  </div>
</div>
