<!-- feature image 1,2: on auto change -->
<div
  *ngIf="showFeatureImage1 == 'true'"
  class="lg:visible hidden lg:flex lg:justify-center bg-black w-screen h-screen p-4 my-auto mx-auto"
>
  <div class="3/5 flex justify-end">
    <img
      src="assets/stera_straight.svg"
      height="500"
      width="500"
      alt="stera product image"
    />
  </div>
  <div class="w-2/5 pt-40">
    <div class="flex flex-col justify-start">
      <div class="">
        <div class="text-blue-400 text-xl flex flex-col">
          India's first UV Disinfection Sheild
          <div>to have tested and certified The Best</div>
          <div>by the best</div>
        </div>
        <img
          src="assets/certifications.svg"
          class="w-full h-full -ml-10 -my-1"
          alt="certifications image"
        />
        <div class="text-white justify-start text-xs -mt-10">
          <div>
            When it comes to personal safety and protecting the ones we most
            dear to us - taking
          </div>
          <div>
            chance is not an option. Trust is important. And we are not just
            asking you to trust us, we
          </div>
          <div>
            have accredited proof that makes us trustworthy. Our dedicated
            research has let us pass
          </div>
          <div>the most stringent of tests - and we're better for it.</div>
        </div>

        <div class="w-full h-0.5 bg-white mt-14"></div>
      </div>
    </div>
  </div>
</div>

<div
  *ngIf="showFeatureImage2 == 'true'"
  class="lg:visible hidden lg:flex lg:justify-center bg-black w-screen h-screen p-4 my-auto mx-auto"
  
>
  <div class="3/5 flex justify-end mr-36">
    <img
      src="assets/stera_side.svg"
      height="350"
      width="350"
      alt="stera product image"
    />
  </div>
  <div class="w-2/5 pt-40">
    <div class="flex flex-col justify-start">
      <div>
        <div class="text-blue-400 text-xl flex flex-col">
          Stera.The Future of Sanitization
          <div>is Here</div>
        </div>
        <div class="text-white justify-start text-xs mt-6">
          <div>
            With an aim to revolutionize sanitation, with research to back our
            ambition,
          </div>
          <div>
            with a desire to protect and shield the world - Stera is what you've
            been
          </div>
          <div>
            waiting for. The last year has taught us that health preceds all
            other
          </div>
          <div>priorities. And shielding your health is our priority.</div>
        </div>

        <div class="text-white justify-start text-xs mt-6">
          <div>
            Stera has evolved to revolutionize how a common individual thinks of
          </div>
          <div>
            Sanitization and disinfection. With an extraordinary strong pedigree
            in
          </div>
          <div>
            pharmaceutical related research and development for the last few
            deacades.
          </div>
          <div>
            Stera is not a marketing company but a research and development
            company
          </div>
          <div>
            We bring to you, suitable for home and commercial use. Stera UV
          </div>
          <div>
            Disinfection shield - the disinfection shield of our time. And our
            journey has
          </div>
          <div>
            just begun. We have a series of products in our pipeline that will
            revolutionize
          </div>
          <div>the disinfection sector.</div>
          <div></div>
        </div>

        <div class="w-full h-0.5 bg-white mt-14"></div>
      </div>
    </div>
  </div>
</div>

<div class="lg:hidden flex flex-col justify-evenly items-center h-screen bg-black px-10 text-gray-300">
  <div class="text-blue-400 text-xl flex flex-col">
    Stera. The Future of 
    <div>Sanitization is Here</div>
  </div>
  <div>
    <img
    src="assets/stera_side.svg"
    height="150"
    width="150"
    alt="stera product image"
  />
  </div>
  <div>
    <div class="justify-start text-xs mt-6">
      <div>
        With an aim to revolutionize sanitation, with research to back our
        ambition, with a desire to protect and shield the world - Stera is what you've
        been waiting for. The last year has taught us that health preceds all
        other priorities. And shielding your health is our priority.
      </div>
    </div>

    <div class="justify-start text-xs mt-6">
      <div>
        Stera has evolved to revolutionize how a common individual thinks of
        Sanitization and disinfection. With an extraordinary strong pedigree
        in pharmaceutical related research and development for the last few
        deacades. Stera is not a marketing company but a research and development
        company. We bring to you, suitable for home and commercial use. Stera UV
        Disinfection shield - the disinfection shield of our time. And our
        journey has just begun. We have a series of products in our pipeline that will
        revolutionize the disinfection sector.</div>
      <div></div>
    
    </div>
  </div>
</div> 
