
<!-- insta stories -->
<div class="w-screen">
    <div class="flex justify-center text-3xl font-semibold">
      <div>Stera</div>
      <img src="assets/instagram.svg" alt="instagram logo" class="mx-2" />
      <div>Stories</div>
    </div>
    <div class="flex justify-center flex-col lg:flex-row lg:mx-32 lg:my-10 px-2 lg:px-0">
      <img src="assets/insta.png" alt="instagram stories"  class="hidden lg:visible lg:block lg:w-5/6"/>
      <img src="assets/insta1.svg" class="lg:hidden mt-6">
      <img src="assets/insta2.svg" class="lg:hidden">
    </div>
    <div class="flex justify-center mt-28 mb-20 text-gray-500 text-xl font-semibold">
      <div>Email us: sales@steracare.com</div>
    </div>
  </div>
  