<!-- feature image 4 -->
<div class="hidden lg:flex justify-between items-center w-screen">
    <div class="w-2/5 flex justify-between">
      <div></div>
      <div class="flex flex-col justify-start">
        <div class="mt-14">
          <div class="flex flex-col">
            <div class="text-blue-900 text-3xl font-semibold mb-3">
              <div>Customized Sterilization</div>
              <div>with 5 Operational Modes</div>
            </div>
            <ul class="list-disc text-sm text-gray-500">
              <li>3-minute UV Disinfection for Small Objects</li>
              <li class="my-2">3-minute UV Disinfection for Medium Objects</li>
              <li>
                3-minute UV Disinfection with Hot Air Circulation for Small
                Objects
              </li>
              <li class="my-2">
                3-minute UV Disinfection with Hot Air Circulation for Medium
                Objects
              </li>
              <li>5-minute Hot Air Circulation for Small and Medium Objects</li>
            </ul>
          </div>
  
          <div class="text-white justify-start text-xs">
            <div>
              When it comes to personal safety and protecting the ones we most
              dear to us - taking
            </div>
            <div>
              chance is not an option. Trust is important. And we are not just
              asking you to trust us, we
            </div>
            <div>
              have accredited proof that makes us trustworthy. Our dedicated
              research has let us pass
            </div>
            <div>the most stringent of tests - and we're better for it.</div>
          </div>
  
          <div style="width: 100%; height: 1px" class="bg-white mt-10"></div>
        </div>
      </div>
    </div>
    <div class="3/5 flex justify-end">
      <img
        src="assets/product_bottom.svg"
        height="600"
        width="600"
        alt="stera product bottom image"
      />
    </div>
  </div>


  <div class="lg:hidden flex flex-col justify-start items-center h-screen px-10 text-gray-300">
    <div>
      <img
      src="assets/product_bottom.svg"
      class="h-full w-full"
      alt="stera product image"
    />
    </div>
    <div class="text-blue-900 text-xl font-bold flex flex-col w-screen items-center my-10">
      Customized Sterilization
      <div>with 5 Operational Modes.</div>
    </div>
    <div>
      <div class="text-xs mt-6">
        <ul class="list-disc text-sm text-gray-500">
          <li>3-minute UV Disinfection for Small Objects</li>
          <li class="my-10">3-minute UV Disinfection for Medium Objects</li>
          <li>
            3-minute UV Disinfection with Hot Air Circulation for Small
            Objects
          </li>
          <li class="my-10">
            3-minute UV Disinfection with Hot Air Circulation for Medium
            Objects
          </li>
          <li>5-minute Hot Air Circulation for Small and Medium Objects</li>
        </ul>
      </div>
  
    </div>
  </div> 
  