<!-- feature image 3 -->
<div
  class="lg:visible hidden lg:flex justify-center bg-black h-screen mt-1 pb-28 w-screen"
>
  <div class="3/5 flex justify-end">
    <img
      src="assets/efficient.svg"
      height="500"
      width="550"
      alt="stera product image"
    />
  </div>
  <div class="w-2/5 pt-48">
    <div class="flex flex-col justify-start">
      <div class="">
        <div class="text-blue-400 text-xl flex flex-col my-10">
          Designed to be
          <div>Effecient, long lasting and safe</div>
          <div>by the best</div>
        </div>

        <div class="text-white justify-start text-xs">
          <div>
            One phrase to describe the material we have used. No compromises.
            While the exterior of the box
          </div>
          <div>could be made of many things but we have not compromised.</div>
          <div class="mt-3">
            Stera UVC Disinfection Shield Box uses Superior 304 Mirror surface
            Stainless Steel material to ensure
          </div>
          <div>maximum internal refection of UVC.</div>
          <div class="mt-3">
            Magnetic cut-off feature on the door ensures that it is 100%
            leakproof and there is no chance of
          </div>
          <div>any radiation to leak out or affect any human.</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="lg:hidden flex flex-col justify-evenly items-center h-screen bg-black px-10 text-gray-300">
  <div class="text-blue-400 text-xl flex flex-col">
    Designed to be Effecient, 
    <div>long lasting and safe.</div>
  </div>
  <div>
    <img
    src="assets/efficient.svg"
    height="350"
    width="350"
    alt="stera product image"
  />
  </div>
  <div>
    <div class="justify-start text-xs mt-6">
      <div>
        One phrase to describe the material we have used. No compromises.
            While the exterior of the box. could be made of many things but we have not compromised.
      </div>
    </div>

    <div class="justify-start text-xs mt-6">
      <div>
        Stera UVC Disinfection Shield Box uses Superior 304 Mirror surface
        Stainless Steel material to ensure maximum internal refection of UVC.</div>
      <div>
    </div>

    <div class="justify-start text-xs mt-6">
      <div>
        Magnetic cut-off feature on the door ensures that it is 100% leakproof and there is no chance of any radiation to leak out or affect any human.</div>
      <div>
    </div>
    
    </div>
  </div>
</div> 
