<div class="flex flex-1 justify-around p-6">
  <img src="assets/logo.svg" width="120" height="120" alt="stera logo" />
  <div class="text-sm font-semibold cursor-pointer" (click)="handleBack()">
    < Back Home
  </div>
</div>

<div class="flex flex-1 justify-end">
  <div
    class="w-2/3 h-48 text-sm p-4 lg:w-3/5 lg:text-xl bg-black text-white flex flex-col justify-around items-end lg:pr-12 lg:h-80 lg:ml-10"
  >
    <div class=" lg:font-bold">BLOG</div>
    <div class="flex flex-col">
      <div class="font-thin text-gray-300 text-right">
        INDIA's FIRST
      </div>
      <div class="lg:font-bold text-xs lg:text-xl mt-4 lg:mt-0">UV DISINFECTION SHIELD</div>
    </div>
  </div>
  <div class="w-1/3 h-48 lg:w-2/5 lg:h-80 flex items-end bg-gray-100">
    <img src="assets/stera_blog.svg" class="h-full" alt="stera blog image"/>
  </div>
</div>

<div *ngIf="id_string == '1'" class="lg:mx-32 my-16">
  <div
    class="text-xl font-semibold flex flex-col text-center justify-center mb-16"
  >
    <div>The Future is Stera. Stera's Disinfection</div>
    <div>Shield is here!</div>
  </div>
  <div
    class="flex flex-col justify-start lg:text-left lg:text-lg text-gray-500 flex-wrap lg:w-5/6 lg:mx-20 px-6"
  >
    <div class="mb-4">
      If there’s anything 2020 has taught us it’s that virus or not, our hygiene
      habits need to improve. With the virus constantly spreading and new
      strains being found, the need to prevent and sterilize is on the rise.
    </div>
    <div class="mb-4">
      To move on with our lives and un-pause this rut, we must change the ways
      to protect ourselves and shield the most vulnerable ones around us. Thus,
      we present to you – Stera UV Disinfection Shield. Backed by years of
      research and dedicated to redefine protection and sanitizing, Stera is the
      shield you’ve been waiting for.
    </div>
    <div class="mb-4">
      A marriage of proven science and modern innovation, Stera was created for
      people most susceptible to the virus. Sterilize and disinfect all
      small/medium objects that inadvertently become objects of common contact.
      Daily use objects like phones, wallets, currency notes, fruits and
      vegetables, groceries, baby care products (teethers, breast pumps), toys,
      remote, keys, water bottles, etc that are left un-sanitized.
    </div>
    <div class="mb-4">
      Stera eliminates not only Covid-19 but also other stubborn viruses.
      Effectively shielding you in a hygienically pure experience within 3-5
      minutes. Thanks to its many attributes, it’s a class apart from its
      counterparts. Be it the dual time setting, adjustable shelves, its
      versatile use or it’s compactness – Stera UV Disinfection Shield is built
      to provide you with the best sterilization possible.
    </div>
    <div class="mb-4">
      We understand what is at stake, we realize that life cannot paused, and we
      innovate because safety is the only norm moving forward. It is time we
      change our daily habits. It is time we inculcate precautions for all. Let
      this year be everything last year wasn’t. Bring Stera home.
    </div>
  </div>
</div>

<div *ngIf="id_string == '2'" class="lg:mx-32 my-16">
  <div
    class="text-xl font-semibold flex flex-col text-center justify-center mb-16"
  >
    <div>Why You Need Stera in Your Homes.</div>
  </div>
  <div
  class="flex flex-col justify-start lg:text-left lg:text-lg text-gray-500 flex-wrap lg:w-5/6 lg:mx-20 px-6"
  >
    <div class="mb-4">
      When everything closed, e-commerce saved the day. Brought things to people
      when nothing was available. Saying they single-handedly ran economies
      would be an understatement. I’d be lying if I told you that being a
      delivery boy was my purpose in life. It isn’t. But realizing that I had
      one of the most important jobs in the world, when not much else mattered,
      made me feel significant.
    </div>
    <div class="mb-4">
      When the world opened up, I didn’t leave my job to look for another. I was
      thankful I had a job when people were struggling for a single meal. But
      while my job was providing me, it was also putting me at maximum risk -
      taking me to hundreds of homes across the city. Even with cash-less,
      touch-less transactions, I was inadvertently exposed to a lot of outside
      elements. Because dispatch and pick-ups always involved human contact.
    </div>
    <div class="mb-4">
      I couldn’t expose my children to these outside elements. While waiting for
      a pick-up, I noticed the hotel had a sterilization unit. I inquired about
      it and got for my home a Stera UV Disinfection Shield. I use the
      disinfection shield to sterilize everything. I mean everything. My gloves,
      masks, phone, power bank, keys and wallet. Even my sunglasses. It was
      affordable compared to other brands and came with the best features I
      could have asked for. Due to its hot air circulation and adjustable
      shelves, it doubles as a sterilizer for other items at home - baby
      teethers, bibs, toys, knives, cutlery, pens, books, etc.
    </div>
    <div class="mb-4">
      Stera not only fights the Coronavirus, but also shields us from other
      harmful viruses. I can choose from its dual time settings and sterilize
      both medium and small objects. It really is the best deal for a
      lower-middle class person like me. It isn’t confusing to use, comes with a
      display timer and lights that indicate if it is on or not.
    </div>
    <div class="mb-4">
      I really think I got a good deal as other sterilizers were costly and came
      with fewer features than Stera. If it were up to me, I would be happy to
      deliver one to your home!
    </div>
  </div>
</div>

<div *ngIf="id_string == '3'" class="lg:mx-32 my-16">
  <div
    class="text-xl font-semibold flex flex-col text-center justify-center mb-16"
  >
    <div>Minimize Your Risk, Bring Stera Home</div>
  </div>
  <div
  class="flex flex-col justify-start lg:text-left lg:text-lg text-gray-500 flex-wrap lg:w-5/6 lg:mx-20 px-6"
  >
    <div class="mb-4">
      The first few months of the lockdown involved me obsessively washing
      fruits and vegetables with a mild soap, then dipping them in lukewarm
      salted water and then wiping them dry. One by one. Twice a week. It’s
      almost funny how this exercise had become such an important task and took
      up hours of my time.
    </div>
    <div class="mb-4">
      It helped me sleep at night and gave me something to do when everything
      was closed. But over time the process got tedious and I became busy
      because my kids' schools opened up and my husband went back to work. It
      was a fun exercise in the initial period of the lockdown but it became
      annoying as the pandemic has continued. With screaming kids running around
      the house and family members going out for work, I knew I needed an
      alternative.
    </div>
    <div class="mb-4">
      And so, I got Stera. Stera is a UV Disinfection Shield that employs
      age-old science of sterilization to shield us in these trying times. The
      best part is that unlike other sterilizers, Stera lets me sterilize fruits
      and vegetables that - from either the grocery store or the local vendor -
      are exposed to touch all day. Of course, I still wash them but an extra
      shield of protection saves me time, effort and distress.
    </div>
    <div class="mb-4">
      I have inculcated the habit of sterilization in my kids and family
      members. We now use Stera to disinfect other daily items that come and
      leave the home. It is easy. It is safe. My kids are old enough to
      understand the unit’s usage and precautions. It is part of our new normal.
      Instead of wasting time, we can sterilize various objects of small and
      medium sizes.
    </div>
    <div class="mb-4">
      The virus is only spreading but Stera helps me sleep at night. I know that
      I have a shield, minimizing risk, right here inside my home.
    </div>
  </div>
</div>

<div *ngIf="id_string == '4'" class="lg:mx-32 my-16">
  <div
    class="text-xl font-semibold flex flex-col text-center justify-center mb-16"
  >
    <div>Stera: The Shield We Need</div>
  </div>
  <div
  class="flex flex-col justify-start lg:text-left lg:text-lg text-gray-500 flex-wrap lg:w-5/6 lg:mx-20 px-6"
  >
    <div class="mb-4">
      Although it seems years have passed, it was only a few months ago that the
      country was on lockdown. Until June, most of the country (and world) was
      shut down. But that did not mean I was at home. For a bank employer, the
      world had changed but it definitely hadn’t stopped.
    </div>
    <div class="mb-4">
      During the lockdown only few people came to the bank. Being safe and
      precautious wasn’t a difficult task then. But now, people seem to have
      forgotten that we’re still dealing with a pandemic. Especially in India,
      where people are behaving as if the virus ended with 2020. Being safe and
      precautious, shielding oneself from the virus is an important task that’s
      becoming difficult now.
    </div>
    <div class="mb-4">
      I am Deepa, a cashier working at a bank in Hyderabad. I have learnt that
      if others aren’t being safe, I have to ensure my own safety. Which is why
      I’ve installed the Stera UV Disinfection Shields. One at home, and one at
      the bank (I convinced my co-workers to invest in it). We meet hundreds of
      people every day with no idea how/where most of them have been. Stera UV
      Disinfection Shield has become our saviour - especially since we cannot
      wash currency with soap.
    </div>
    <div class="mb-4">
      With an adjustable shelf to fit small or medium objects, Stera gives me
      enough room and time to sterilize notes that have been touched by many
      hands. We can set time based on what we’re sterilizing. For example, to
      sterilize pens, cheques, keys, staplers, scissors, clips, slips and
      vouchers we use a 3-minute setting; 5 minutes for notes and another 5 for
      coins. The same goes for food that I might order for lunch. Yes! Stera’s
      hot air circulation lets your sterilize food without spoiling it.
    </div>
    <div class="mb-4">
      To avoid overloading the unit we have developed a system. It has to become
      part of our daily routine. It’s the same routine I practice at home.
      History is proof that the world might stop but banks do not. I have lived
      and witnessed this first-hand. So, I would encourage others to install
      Stera at your home and work. Sterilization, along with precautions is the
      extra shield we need.
    </div>
  </div>
</div>

<div *ngIf="id_string == '5'" class="lg:mx-32 my-16">
  <div
    class="text-xl font-semibold flex flex-col text-center justify-center mb-16"
  >
    <div>The Disinfection Shield of our Time</div>
  </div>
  <div
  class="flex flex-col justify-start lg:text-left lg:text-lg text-gray-500 flex-wrap lg:w-5/6 lg:mx-20 px-6"
  >
    <div class="mb-4">
      Science always protects - as a scientist this is my true belief. So, when
      the world turned upside down, I knew science would have our backs. We had
      dealt with pandemics before and we could deal with one now.
    </div>
    <div class="mb-4">
      Over weeks, habit of wearing mask and washing hands had been adapted well
      into our lifestyle. But over weeks, I observed that there was a glaring
      loophole in our “safe” lifestyles - what about the other items of daily
      use that inadvertently become objects of common contact. Objects that are
      bound to be contaminated, but cannot be “washed”.
    </div>
    <div class="mb-4">
      The food coming in our homes, change from restaurants, debit/credit cards
      used at gas stations, wallets, mobile phones, watches, toys, fruits and
      vegetables from grocery stores - all of which were bound to have exposure
      and contact. When I saw my three-year-old chew on his unwashed teether,
      flashed before my eyes all the ways we weren’t being safe.
    </div>
    <div class="mb-4">
      There had to be an answer. We had dealt with pandemics before.
      Sterilization was invented in 1887, all it needed was a bit of innovation.
      Using years of proven success and employing innovation based on science, I
      developed Stera. The Disinfection Shield of our Times.
    </div>
    <div class="mb-4">
      Stera UV Disinfection Shield eliminates covid-19 as well as other viruses
      that are just as harmful. I cannot walk around with a hazmat suit at all
      times, but I can sterilize things that come in my home. Reliable, easy to
      use, compact enough to fit in my living room and big enough to cover a
      range of our daily items.
    </div>
    <div class="mb-4">
      The hot-air circulation sterilizes fruits and vegetables without causing
      any residual decomposition. It is light-weight, made with stainless steel
      and will fit anywhere in your home. The dual time function lets you set
      time i.e., 3 minutes for small-sized and 5 minutes for medium-sized
      objects. The adjustable shelves and four operational modes make
      sterilization easier and disinfection better. Complete with UVC Philips
      lamps that will let you know when your device is being used.
    </div>
    <div class="mb-4">
      It has eased my worries and saved time I would otherwise spend in manual
      disinfection. Stera is reliable. Stera is the future - now! It is Science
      that protects.
    </div>
  </div>
</div>

<div *ngIf="id_string == '6'" class="lg:mx-32 my-16">
  <div
    class="text-xl font-semibold flex flex-col text-center justify-center mb-16"
  >
    <div>Stera isn’t a habit, it is a lifestyle</div>
  </div>
  <div
  class="flex flex-col justify-start lg:text-left lg:text-lg text-gray-500 flex-wrap lg:w-5/6 lg:mx-20 px-6"
  >
    <div class="mb-4">
      I am Adil and I own a bookstore. This store is my safe haven and has been
      for years. Over the years, I have realised that reading isn’t a hobby, it
      is a lifestyle. I have witnessed that love for reading can overcome
      anything - including e-commerce conglomerates. Because nothing beats the
      quaint love of buying books from a physical store. Unlike online shopping,
      my store indulged readers and I indulged in their love for reading.
    </div>
    <div class="mb-4">
      The store had beaten all odds, but this last year, I had to shut it close.
      Something I hadn’t done in 40 years. But this novel virus seems to have
      shattered the odds. The books and I felt lonelier than ever. For months I
      was at home, wondering when I’d be back at work. I kept thinking of all
      the ways I would shield and protect us from the coronavirus.
    </div>
    <div class="mb-4">
      When the world started opening up, I was giddy, ecstatic to go back to
      work. I am glad things have finally opened up because the bookstore is my
      second home. You could say that I'm working from home! Business has picked
      up slowly and I'm getting back to my routine. However, I am afraid of what
      I bring back home every day - back home to my children and grandchildren
      who can't help but excitedly jump up at me when I return home.
    </div>
    <div class="mb-4">
      So, be it a book or my phone, or the cash I take back home, I make sure I
      sterilize it immediately. Suggested by one of my customers, Stera UV
      Disinfection Shield is a blessing in the guise of a box. When you’re as
      old as me and have other vulnerable beings around, being extra cautious is
      the only way to go. Stera UV Disinfection Shield has not only made my life
      easier, but it has eased my worries and helps me sleep at night. I can
      rest assured that I’m covering maximum ground as far as precautions are
      concerned. Sterilizing using Stera UV Disinfection Shield isn’t just a
      habit, it is now a lifestyle.
    </div>
  </div>
</div>

<app-footer></app-footer>
