@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

// custom components
@import "app/components/contact/contact.component.scss";
@import "app/components/blog-main/blog-main.component.scss";

/* You can add global styles to this file, and also import other style files */
html {
    overflow: scroll;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
::-moz-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
::-o-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
::-ms-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
.container {
    width: -webkit-fill-available;
}
@media (min-width: 640px) {
    .container {
        margin: 0px;
    }
    .whatsapp {
        position: relative;
        right: 5px;
    }
}
@media (min-width: 768px) {
    .container {
        margin: 0px;
    }
    .whatsapp {
        position: relative;
        right: 5px;
    }
}
@media (min-width: 1024px) {
    .container {
        margin: 0px 75px;
    }
    .whatsapp {
        position: relative;
        right: 22px;
    }
}
@media (min-width: 1280px) {
    .container {
        margin: 0px 75px;
    }
    .whatsapp {
        position: relative;
        right: 22px;
    }
}
@media (min-width: 1536px) {
    .container {
        margin: 0px 75px;
    }
    .whatsapp {
        position: relative;
        right: 22px;
    }
}
